.container-fluid{
width:100%;height:auto;margin:auto;
/* background-color:red; */
}

.productsContainer{
width:80%;height:200px;margin:auto;margin:20px;
/* display:flex;flex-wrap:wrap;justify-content:center; */
}
.productsContainer > div.card{
width:100%;height:100%;FONT-FAMILY:"Helvetica Neue", Helvetica, Arial, sans-serif;
FONT-SIZE:14px;
LINE-HEIGHT:18px;
TEXT-ALIGN:start;
LETTER-SPACING:normal;
color:#303a4b;

}
.productsContainer > div.card div.row{width:100%;height:100%;display:flex;flex-wrap:wrap;}
.productsContainer > div.card div.row >div{
width:50%;height:100%;
}
.productsContainer > div.card div.row .col-md-4{
width:30%;height:100%;
}
.productsContainer > div.card div.row .col-md-4 img{
width:100%;height:100%;
}
.productsContainer > div.card div.row .col-md-8{width:70%;height:100%}
#cardBody{
/* background-color:red; */
display:flex;flex-wrap:wrap;height:100%;width:100%;}
#cardBody>h5{width:100%;}
#cardBody>p{width:89%;}
#cardBody>p#updateDelete{width:8%;margin:auto}
